.container {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.image {
  align-items: center;
  display: flex;
  left: 57%;
  position: absolute;
  top: 25%;
  height: 70%;
  width: 36%;
}

.chipContainer {
  position: relative;
  height: 1%;
  width: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip {
  transform: rotate(270deg);
}

.carnet {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.text {
  color: #225889;
  font-weight: bold;
  position: absolute;
  width: 25%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.name {
  left: 10%;
  top: 25%;
}

.lastName {
  left: 35%;
  top: 25%;
}

.race {
  left: 10%;
  top: 40%;
}

.date {
  left: 35%;
  top: 40%;
  width: 20%;
}

.gender {
  left: 10%;
  top: 55%;
}

.country {
  left: 35%;
  top: 55%;
}

.dateAdoption {
  left: 10%;
  top: 70%;
}

.dateIssue {
  left: 35%;
  top: 70%;
  width: 20%;
}

.title {
  color: #444;
  width: 25%;
}

.warLogo {
  left: 8%;
  position: absolute;
  top: 5%;
}

.erLogo {
  right: 9%;
  position: absolute;
  top: 7%;
}

.adopter {
  left: 10%;
  position: absolute;
  top: 10%;
}

.adopter1 {
  color: #e9a004;
}

.adopter2 {
  color: #225889;
  width: 25%;
}

.adopterName {
  left: 10%;
  position: absolute;
  top: 22%;
}

.adopterLastName {
  left: 38%;
  position: absolute;
  top: 22%;
}

.hr {
  background-color: #225889;
  left: 10%;
  position: absolute;
  top: 37%;
}

.firulaix {
  left: 15%;
  position: absolute;
  top: 42%;
}

.address {
  left: 10%;
  position: absolute;
  top: 58%;
  width: 50%;
  word-wrap: break-word;
}

.copyright {
  right: 70%;
  position: absolute;
  top: 48%;
  transform: rotate(270deg);
  text-align: center;
  width: 50%;
}

.qr {
  left: 62%;
  position: absolute;
  top: 20%;
}

.description {
  left: 10%;
  position: absolute;
  top: 85%;
  width: 85%;
}

.sterilized {
  left: 10%;
  position: absolute;
  top: 85%;
}

.countryIcon {
  left: 35%;
  position: absolute;
  top: 85%;
}

.paw {
  left: 42%;
  position: absolute;
  top: 85%;
}
