.title {
	background-color: #3498db;
	color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #333;
}

.option {
	color: #fff;
    text-align: center;
    width: 100%;
}

.true {
	background-color: #07bc0c;
}

.false {
	background-color: #e74c3c;
}

.checkbox {
	position: relative;
  margin: 0;
}

.label {
    display: block;
    cursor: pointer;
	font-family: Helvetica;
    width: 100%;
}

.checkboxSpin {
	display: none;
}

.checkboxSpin + label span {
	position: relative;
	display: inline-block;
}

.checkboxSpin + label span:before,
.checkboxSpin + label span:after {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	content: "";
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #fff;
}

.checkboxSpin + label span:after {
	z-index: 0;
	border: none;
}

.checkboxSpin:checked + label span:before {
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	background: #3498db;
}

.divCenter {
  display: flex;
  justify-content: center;
}

.divItemCenter {
  align-items: center;
}